.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 60vh;
    
      /* scroll */
  padding-top: 8rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 30rem;
    height: 3rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 5rem;
}

.e-blur1{
    top: 0rem;
    left: 8rem;
}



