.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    height: 70vh;
    margin-top: -8rem;
    margin-bottom: 10rem;
  }
  
  .achievement {
    display: flex;
    flex-direction: column; /* Ensures spans are arranged in a column */
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    font-size: 25px;
    width: 10rem;
    height: 10rem;
    background: rgb(220, 212, 212);
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .circle img {
    transform: scale(0.2);
  }
  
  /* Add this rule to ensure the spans are stacked vertically */
  .achievement span {
    margin: 0.5rem 0; /* Optional: Adds spacing between span elements */
  }
  