.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    height: 50vh;
    margin-bottom: 15rem ;
  
}

.achivement{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    align-items: center;
}

.circle{
    font-size: 25px;
    width: 10rem;
    height: 10rem;
    background: rgb(220, 212, 212);
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    
.circle img{
    transform: scale(.2);
}
